@import "../../../../styles/scss/styles.scss";

.PageHeader {
    img {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        height: 200px;
    }

    h1 {
        position: relative;
        top: -150px;
        z-index: 1;
        color: white;
        padding: 0 3rem;
    }
}