@import '../../../styles/styles.scss';

.ContactForm {
    width: 50%;
    margin: 1.5rem auto;
    text-align: center;

    h1,
    p {
        text-align: center;
    }

    span {
        color: $redColor;
        font-weight: bold;
    }

    input:nth-child(1) {
        margin: 1%;
    }

    textarea {
        margin: 1% auto;
        width: 92%;
    }
}