@import 'styles/styles.scss';

.register-form-wrapper {
    width: 35%;
    margin: 3rem auto;
    text-align: center;

    .register-form-content {
        label,
        input {
            width: 100%;
            margin: 5px 0;
        }
    }

    .register-form-submit-btn {
        display: block;
        margin: 10px auto;
    }

    h1,
    p {
        text-align: center;
    }

    span {
        color: $red-color;
        font-weight: bold;
    }

    .terms-and-conditions span,
    .additional-links span a {
        display: block;
        color: $dark-color;
        font-weight: lighter;
        font-size: 16px;
        cursor: pointer;
    }

    .terms-and-conditions span {
        text-align: left;
        margin-left: 6px;
    }

    .additional-links {
        span a {
            text-align: center;
            font-size: 14px;

            &:hover {
                font-weight: bold;
            }
        }
    }
}