@import '../../../styles/styles.scss';

.RegisterForm {
    width: 35%;
    margin: 3rem auto;
    text-align: center;

    h1,
    p {
        text-align: center;
    }

    input {
        width: 100%;
        margin: 1%;
    }

    input[name='firstName'],
    input[name='lastName'] {
        width: 46.5%;
    }

    input[name='lastName'] {
        margin-right: 0;
    }

    span {
        color: $redColor;
        font-weight: bold;
    }

    input[type='submit'] {
        margin: 6% auto;
    }

    .terms-and-conditions span,
    .additional-links span a {
        display: block;
        color: $darkColor;
        font-weight: lighter;
        font-size: 16px;
        cursor: pointer;
    }

    .terms-and-conditions span {
        text-align: left;
        margin-left: 6px;
    }

    .additional-links {
        span a {
            text-align: center;
            font-size: 14px;

            &:hover {
                font-weight: bold;
            }
        }
    }
}