@import 'styles/styles.scss';
@import './theme-vehicle.scss';

.vehicle {
    margin: 1%;
    text-align: center;

    @include for-desktop-up {
        display: inline-block;
        width: 23%;
        vertical-align: bottom;
    }

    img {
        width: 100%;
        max-width: 100%;
        height: 170px;
        object-fit: cover;
    }

    .vehicle-price {
        position: relative;
        top: -30px;
        width: 30%;
        left: 33%;
        padding: 1em;
        font-weight: bold;
    }

    .vehicle-name {
        position: relative;
        top: -20px;
        font-size: 19px;
    }

    .vehicle-rental {
        position: absolute;
        font-weight: bold;
        font-size: 15px;
        padding: 6px 16px;
    }
}