@import 'styles/styles.scss';

.benefit {
    margin: 1rem 0;

    .benefit-icon-wrapper {
        padding-right: 1em;

        @include for-desktop-up {
            float: left;
        }

        span {
            color: $red-color;
            font-size: 2.5em;
        }
    }

    .benefit-content-box {
        .benefit-content-box-title {
            font-weight: bold;
            margin: 0;
            padding: 0;
        }

        .benefit-content-box-subtitle {
            font-size: 15px;
            font-weight: lighter;
        }
    }
}