@import 'styles/styles.scss';

.advantages {
    padding: 1.5rem;

    article {
        &:hover {
            cursor: pointer;
        }
    }

    .advantages-wrapper {
        width: 94%;
        margin: 0 auto;
    }
}