@import "styles/styles.scss";
@import "./theme-vehicle-service.scss";

.vehicle-service {
    text-align: left;

    @include for-tablet-portrait-up {
        padding: 1.5em;
    }

    article {
        @include for-desktop-up {
            display: inline-block;
            vertical-align: top;
            width: 46%;
            margin: 0 1rem;
            padding-top: 0;
        }
    }

    .tab-right-article {
        font-size: 1.1em;
        padding-top: 2em;

        .vehicle-service-benefit {
            list-style-type: none;
            padding: 8px 0;

            .vehicle-service-benefit-text {
                display: inline;
                padding: 1em;
            }
        }
    }
}
