.button {
    border: 2px solid rgba(255, 255, 255, .2);
    background: transparent;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 11px;
    font-weight: lighter;
    cursor: pointer;

    &:hover {
        background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    }

    &-secondary {
        vertical-align: top;
        background: transparent;
        color: white;
        border: 2px solid white;
        font-size: 19px;
        font-weight: bold;
        padding: 12px 22px;
        text-transform: uppercase;
        margin-top: -28px;

        &:hover {
            cursor: pointer;    
            background-color: $mainColor;
            border-color: $mainColor;
        }
    }

    &-wrapper {
        display: flex;

        .button {
            display: block;

            &+.button {
                margin-left: 1em;
            }
        }
    }
}