@import "styles/styles.scss";
@import "./theme-social-icons.scss";

.social-icons {
    padding: .5em 0;

    @include for-desktop-up {
        text-align: right;
    }

    .social-icons-icon {
        display: inline;
        padding: 0 0 0 22px;
        cursor: pointer;
    }
}
