@import "styles/styles.scss";
@import "./theme-social-icons.scss";

.social-icons {
    padding: 1em 0;

    @include for-desktop-up {
        text-align: right;
    }

    span {
        padding: 0 0 0 22px;
        cursor: pointer;
    }
}
