@import 'styles/styles.scss';
@import './theme-request.scss';

.request {
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    margin: 10px auto;
    padding: 10px;

    h3 {
        font-size: 14px;
        font-weight: bold;
        padding-bottom: 10px;
    }

    span {
        font-size: 13px;
    }
}