@import 'styles/styles.scss';

.request-form-wrapper {
    width: 40%;
}

.request-form {
    width: 100%;
    margin: 20px auto;
    text-align: center;

    label, input {
        width: 100%;
    }

    .notification-container {
        width: 35%;
    }
}