@import 'styles/styles.scss';

.footer {
    .main-footer-wrapper {
        background: url('../../../assets/images/footer-bg.jpg');
        background-position: center;
        background-attachment: cover;
        color: #fff;

            a {
                color: #fff;
            }

            h6 {
                font-weight: bold;
            }
        }

    .bottom-footer-wrapper {
        background: $dark-color;
        color: #fff;
    }
}