@import 'styles/styles.scss';

.advantage {
    border: 2px solid $light-gray;

    button {
        background: transparent;
        color: $main-color;
        border: none;
        outline: none;
    }

    .active {
        background: #fff;
        border-bottom: 3px solid $dark-color;
    }

    .not-active {
        background: $light-gray;
    }
}
