@import '../../../styles/scss/styles.scss';

.VehicleTypes {
    background: $darkColor;
    color: white;
    text-align: center;
    padding: 3.5rem;

    .vehicle-types {
        width: 80%;
        margin: 1rem auto;
    }

    span {
        color: $redColor;
        font-weight: bold;
        padding: 0 7px;

    }
}