@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

$mainColor: #d2583e;
$darkColor: #20262F;
$mainFont: 'Poppins', sans-serif;
$headingsFont: 'Montserrat', sans-serif;

