@import '../../../styles/scss/styles.scss';
@import '../../../../node_modules/react-web-tabs/dist/react-web-tabs.css';

.VehicleServices {
    background-color: $darkColor;
    color: white;
    padding: 4rem;
    margin-top: 3rem;

    p {
        display: inline;
    }

    span {
        color: $mainColor;
        font-weight: bold;
        padding-right: 8px;
    }

    article:nth-child(1) {
        padding-top: 3.5rem;
        text-align: left;

        #autoReparing-tab,
        #transmissionChekup-tab,
        #vehicleInspection-tab {
            text-align: left;
        }

        #autoReparing,
        #transmissionChekup,
        #vehicleInspection {
            article {
                display: inline-block;
                vertical-align: top;
                width: 46%;
                margin: 0 1rem;
                padding-top: 0;
            }
        }

        p {
            color: white;
            position: relative;
            top: -15px;

            &:hover {
                cursor: pointer;
            }
        }

        img {
            padding-right: 20px;
        }

        .rwt__tablist[aria-orientation="vertical"] .rwt__tab[aria-selected="true"]:after {
            right: -2px;
            border-right: 3px solid #d2583e;
        }

        .tab-right-article {
            ul li {
                list-style-type: none;
                padding: 8px 0;
            }

            p {
                top: 0;
            }

            span {
                color: white;
            }
        }
    }
}