@import "../../../../styles/styles.scss";
@import "./theme-top-bar.scss";

.top-bar {
    margin: 0;

    .top-bar-wrapper {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 1em 0 0 0;
    }

    .contacts-container {
        display: flex;
        justify-content: space-between;
    }

    .contact-box {
        font-size: 0.8em;

        span {
            padding: 10px;
        }
    }

    .social-icons-wrapper {
        text-align: right;

        span {
            padding: 0 0 0 22px;
            cursor: pointer;
        }
    }
}
