@import "../../../../styles/styles.scss";
@import "./theme-top-bar.scss";

.top-bar {
    margin: 0;

    @include for-tablet-portrait-up {
       
    }

    @include for-phone-only {
        
    }

    .top-bar-wrapper {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 1em 0;
    }

    .contacts-container {
        display: flex;
        justify-content: space-between;

        @include for-tablet-portrait-up {
            display: block;
        }
    }
}
