@import "styles/styles.scss";
@import "./theme-top-bar.scss";

.top-bar {
    margin: 0;

    .top-bar-wrapper {
        @include for-tablet-portrait-up {
            display: block;
        }

        @include for-desktop-up {
            width: 90%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
        }
    }

    .contacts-container {
        display: block;

        @include for-desktop-up {
            display: flex;
            justify-content: space-between;
        }
    }
}
