@import "../../../../styles/scss/styles.scss";

@import "../../../../../node_modules/slick-carousel/slick/slick.css";
@import "../../../../../node_modules/slick-carousel/slick/slick-theme.css";

.HeaderSlider {
  height: 300px;
  width: 100%;

  img {
    width: 100%;
    max-width: 100%;
    background: cover;
    height: 500px;
  }

  .slick-dots {
    position: absolute;
    top: 467px;

    li button:before {
      color: white;
    }

    li.slick-active>button {

      &::before,
      &:hover {
        color: white;
      }
    }
  }

  .HeaderSlider-center {
    width: 100%;
    height: 100vh;
  }

  .HeaderSlider-center h1 {
    font-family: $headingsFont;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 73px;
    z-index: 1;
    padding: 0;
    color: white;
    margin: 1.7em;
    padding: 3px;
  }

  .HeaderSlider-text {
    position: absolute;
    top: 130px;
    background: rgba(0, 0, 0, .5);
    z-index: 1;
    width: 40%;
    padding: 1em;
    color: white;
    letter-spacing: 1px;
    margin: 3em;
    border-radius: 3px;
  }

  p {
    width: 70%;
    display: block;
  }

  .char {
    animation: an 1s ease-out 1 both;
    display: inline-block;
  }

  .mylink {
    position: absolute;
    z-index: 150;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: .6rem;
  }

  .mylink a {
    color: #fff;
    opacity: .5;
    transition: opacity .3s;
  }

  .mylink a:hover {
    opacity: 1
  }
}