@import '../variables.scss';

.button {
    border: 2px solid rgba(255, 255, 255, .2);
    background: transparent;
    color: #fff;

    &:hover {
        background: rgba(255, 255, 255, 0.2) none repeat scroll 0 0;
    }

    &-secondary {
        background: transparent;
        color: #fff;
        border: 2px solid #fff;

        &:hover {
            background-color: $main-color;
            border-color: $main-color;

            a {
                color: #000;
            }
        }

        a {
            color: #fff;
        }
    }
}

.light-button {
    background: #fff;
    border: 2px solid #000;

    &:hover {
        color: #fff;
        background: $main-color;
        border: 2px solid $main-color;
    }
}