@import '../variables.scss';

input {
    border: 0.1em solid #eee;
}

input::placeholder,
textarea::placeholder {
    color: $gray-200;
}

textarea {
    border: 0.1em solid #eee;
}

textarea:focus,
input:focus {
    border: 0.1em solid $main-color;
}

input[type='submit'] {
    background: $main-color;
    font-weight: 900;
    color: #eee;
}
