@import "../../../../node_modules//react-dropdown/style.css";
@import '../../../styles/styles.scss';

.vehicle-search {
    display: block;
    margin-top: 11rem;

    header {
        background: $mainColor;
        padding: 2.5rem;

        article {
            text-align: center;
        }

        h1,
        p,
        span {
            text-align: center;
            color: white;
        }

        p {
            display: inline;
        }

        span {
            padding: 0 8px;
        }
    }

    main {
        width: 90%;
        margin: 0 auto;
        position: relative;
        top: -1rem;
        padding: 2.5rem;
        background-color: $darkColor;
        color: white;
        vertical-align: top;

        article {
            display: inline-block;
            width: 31%;
            margin: .6rem;

            &:last-child {
                text-align: right;
            }
        }
    }
}