@import "../../../../styles/scss/styles.scss";

.topBar {
    background: $mainColor;
    font-family: $mainFont;
    margin: 0;
    padding: 0 3rem;

    section {
        padding: 1em;
        display: inline-block;

        p {
            display: inline;
            flex-direction: row;
            color: white;
        }

        p span {
            padding: 10px;
        }
    }

    section:nth-child(1) {
        width: 75%;
    }

    section:nth-child(2) {
        display: inline;
        text-align: right;

        span {
            color: white;
            font-size: 1.2em;
            padding: 0 0 0 22px;
            cursor: pointer;
        }
    }
}