@import 'styles/styles.scss';

.contact-box {
    font-weight: bold;
    font-size: .8em;

    @include for-desktop-up {
        padding: 1em 1em 0 0;
    }

    span {
        padding: 0 .5em 0 0;
    }
}