@import "styles/styles.scss";
@import './theme-page-header.scss';

.page-header {
    background: url('../../../assets/images/page-header-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 4em 0;

    img {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        height: 200px;
    }

    .page-header-title {
        width: 90%;
        margin: 0 auto;
    }
}