@import "../../../styles/styles.scss";

.page-header {
    height: 210px;

    img {
        width: 100%;
        max-width: 100%;
        object-fit: cover;
        height: 200px;
    }

    h1 {
        position: relative;
        top: -164px;
        z-index: 1;
        color: white;
        padding: 0 3rem;
    }
}