@import '../../../styles/scss/styles.scss';

.Advantages {
    padding: 1.5rem;

    article {

        &:hover {
            cursor: pointer;
        }
    }

    article:nth-child(1) {
        text-align: center;
        font-weight: bold;
    }

    article:nth-child(2) {
        width: 94%;
        margin: 0 auto;

        div {
            padding: 2rem;
            display:inline-block;
            width: 33%;
            text-align: center;

            h5 {
                font-weight: bold;
            }

            img {
                padding: 1rem;
            }

            button {
                background: transparent;
                font-size: 26px;
                padding: .3em .4em;
                color: $mainColor;
                border: none;
                outline: none;
            }
        }

        div {
            background: $lightGrey;
            border-bottom: 3px solid $lightGrey;
        }

        .active {
            background: white;
            border-bottom: 3px solid $darkColor;
        }

        .notActive {
            background: $lightGrey;
        }
    }
}