@import "styles/styles.scss";
@import "./theme-about.scss";

.about {
    width: 80%;
    margin: 2rem auto;
    text-align: center;

    .about-wrapper {
        padding-top: 3em;

        @include for-desktop-up {
            display: flex;
            justify-content: space-between;
        }
    }

    .about-content-wrapper {
        text-align: left;
        margin: 1rem;

        @include for-desktop-up {
            display: inline-block;
            width: 45%;
            vertical-align: top;
        }
    }

    .about-image {
        width: 50%;
        object-fit: contain;
        max-width: 100%;
        border-radius: 12px;
    }
}
