@import "../../../../styles/styles.scss";
@import "./theme-navbar.scss";

.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}

.logo-container img {
    width: 70%;
}

ul {
    padding-bottom: 0;

    li {
        display: inline-block;
    }
}
