.navbar {
    font-family: $main-font;
    background: $dark-color;

    a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        padding: 8px;
        text-transform: uppercase;
        font-size: 0.8em;

        &:hover {
            color: $main-color;
        }
    }
}
