.navbar {
    font-family: $main-font;
    background: #000;

    a {
        color: #fff;
        text-decoration: none;
        font-weight: bold;
        text-transform: uppercase;

        &:hover {
            color: $main-color;
        }
    }
}