@import './theme/theme-buttons.scss';

.button {
    font-size: 16px;
    text-transform: uppercase;
    padding: 5px 11px;
    font-weight: lighter;
    cursor: pointer;
    outline: none;
    border: none;

    &-primary {
        font-size: 16px;
        background: $main-color;
        color: #FFF;

        &:hover {
            background: $main-color;
            color: #FFF;
        }
    }

    &-danger {
        background: $red-color;
        color: #FFF;

        &:hover {
            background: $red-color;
            color: #FFF;
        }
    }

    &-success {
        background: $green-500;
        color: #FFF;

        &:hover {
            background: $green-500;
            color: #FFF;
        }
    }

    &-secondary {
        vertical-align: top;
        background: transparent;
        font-size: 19px;
        font-weight: bold;
        padding: 12px 22px;
        text-transform: uppercase;
        margin-top: -28px;

        &:hover {
            cursor: pointer;
        }
    }

    &-wrapper {
        display: flex;

        .button {
            display: block;

            &+.button {
                margin-left: 1em;
            }
        }
    }
}

.light-button {
    border-width: 2px;
    transition: all .3s ease-in-out;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    padding: 16px 21px;
    letter-spacing: 1px;
    margin: 2%;
    cursor: pointer;

    &:hover {
        font-size: 20px;
    }
}