
    .hidden {
        display: none;
    }

    // Services page styles
    .services-page-wrapper {
        display: flex;
        justify-content: space-between;
        width: 70%;
        margin: 2em auto;

        .services-page-vehicles {
            text-align: center;
        }

        // Override vehicle styles for displaying 3 vehicles on row
        .vehicle {
            width: 30%;
            border-radius: 4px;
            border: 1px solid rgb(235, 229, 229);

            > img {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }
        }
    }