@mixin bp($point) {

    @if $point == desktop-large {
        @media (min-width: 1600px) {
            @content;
        }
    }

    @else if $point == desktop {
        @media (min-width: 1250px) {
            @content;
        }
    }

    @else if $point == laptop {
        @media (min-width: 1024px) {
            @content;
        }
    }

    @else if $point == mobile {
        @media (max-width: 1023px) {
            @content;
        }
    }

    @else if $point == phone {
        @media (max-width: 650px) {
            @content;
        }
    }
}